{%- capture body_classes -%}
template-{{ template.name | handle }} {{ template.name }}-{{ template.suffix }} {{ template.name | append: '-' | append: handle }} {% if cart.item_count == 0 %}cart-empty{% endif %}
{%- endcapture -%}

{% liquid
  assign enable_rtl = settings.enable_rtl
  assign language_support_rtl = settings.language_support_rtl
  if enable_rtl and language_support_rtl != blank
    assign shop_locale = localization.language.iso_code
    assign language_support_rtl_list = language_support_rtl | split: ','
    assign is_rtl = language_support_rtl_list | where: shop_locale
    if is_rtl.size > 0
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}
<!doctype html>
<html
  class="no-js supports-no-cookies"
  lang="{{ request.locale.iso_code }}"
  data-template="{{ template.name }}"
  {% if enable_rtl %}
    dir="rtl"
  {% endif %}
>
  <head>
<!-- Tido Whatsapp Pixel start-->
<script async src='https://whatsapp.bossapps.co/js/script?shop=refurbzoo.myshopify.com'></script>
<!-- Tido Whatsapp Pixel ended-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    {%- liquid
      render 'preload'
      render 'SEO'
      render 'social-meta-tags'
      render 'font-face'
    -%}

    {% render 'critical-css' %}
    {% render 'critical-scripts' %}
    {% render 'custom-code-head' %}

    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'chunk.css' | asset_url | stylesheet_tag }}

    {% render 'style-tags' %}

    <script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme-global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'app.min.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}
{% include 'globo.formbuilder.scripts' %} 
  {% render 'aio-script' %}
      <script src="https://codelocksolutions.in/track_site/jquerycls_refurbzoo.js" defer="defer"></script>
  </head>

  <body
    id="sf-theme"
    class="{{ body_classes }} relative min-h-screen{% if customer %} customer-logged-in{% endif %}"
    {% if template.name == 'product' %}
      data-product-id="{{ product.id }}"
    {% endif %}
  >
    {% render 'theme-data' %}
    {%- section 'mobilegoo-announcement-bar' -%}
    {% section 'annoucement' %}
    {% section 'header' %}
    {% render 'scroll-top-button' %}

    <main role="main" id="MainContent">
      {{ content_for_layout }}
      <div id="cart-drawer-container"></div>
    </main>

    {%- liquid
      section 'footer'
      section 'mobile-sticky-bar'
    -%}

    {% render 'custom-code-body' %}
    {% render 'foxkit-messenger' %}
    {% render 'script-tags' %}
    {% render 'cookie-banner' %}
     
    <script src="{{ 'foxkit-app.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'quick-view.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-card-swatch.min.js' | asset_url }}" defer="defer"></script>
    {%- if settings.enable_predictive_search -%}
      <script src="{{ 'predictive-search.min.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
  </body>
  </html>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" type="text/Javascript"></script>
<script type="text/javascript" src="{{ 'zoom_min.js' | asset_url }}" defer=”defer”></script>



